.container {
  margin-top: 60px;
  display: flex;
  z-index: 1;
  width: 100vw; }

.restaurant-picture-background {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: fixed;
  top: 60px;
  z-index: 0; }

.restaurant-menu {
  border-radius: 60px 60px 0 0;
  background-color: #f7f7f7;
  width: 100%;
  margin-top: 250px;
  z-index: 2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .restaurant-menu .restaurant-menu__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%; }
    .restaurant-menu .restaurant-menu__title h1 {
      font-family: "Shrikhand"; }

.meal-list {
  width: 100%; }
  .meal-list .meal-list__title {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: -8px; }
  .meal-list .meal-list__highlighted {
    height: 5px;
    width: 45px;
    background-color: #99E2D0;
    margin: 15px 0; }

.restaurant-geoloc {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  background-color: #eaeaea; }
  .restaurant-geoloc i {
    margin-top: 15px;
    margin-right: 15px; }

.explore-restaurant {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f7f7f7; }
  .explore-restaurant .explore-restaurant__title {
    font-size: 20px;
    inline-size: 193px; }
  .explore-restaurant span {
    padding: 20px; }
  .explore-restaurant .explore-restaurant__paraph {
    inline-size: 274px; }

.step-title {
  margin-left: 25px; }

.working-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.working-step {
  box-shadow: 4px 4px 12px rgba(177, 177, 177, 0.99);
  border-radius: 20px;
  margin: 15px 0;
  padding: 10px 10px;
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 80%; }
  .working-step .working-step__number {
    width: 20px;
    height: 20px;
    background-color: #9356dc;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -10px; }
  .working-step .working-step__text {
    font-weight: 700;
    margin-left: 15px; }
    .working-step .working-step__text i {
      margin-right: 20px;
      color: #787878; }

.restaurants-container {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
  margin-top: 15px; }
  .restaurants-container h2 {
    text-align: left; }

.home-footer {
  width: 94%;
  padding: 15px 3%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  height: 180px;
  margin-top: 40px; }
  .home-footer a {
    color: inherit;
    text-decoration: none; }
    .home-footer a i {
      margin-right: 10px; }

@media screen and (min-width: 769px) {
  .explore-restaurant {
    justify-content: space-around;
    height: 250px; }
    .explore-restaurant .explore-restaurant__title {
      width: 100% !important;
      font-size: 24px;
      text-align: center; }
    .explore-restaurant span {
      padding: 0; }
    .explore-restaurant .explore-restaurant__paraph {
      width: 100% !important;
      font-size: 20px;
      text-align: center;
      color: #717171; }
    .explore-restaurant .explore-restaurant__link {
      width: 40%; }

  .restaurants-container {
    padding: 0 20px; }

  .working-container {
    flex-direction: row; }

  .working-step {
    justify-content: center;
    padding: 50px 0; }
    .working-step .working-step__number {
      top: -24px;
      left: auto; }
    .working-step i {
      position: absolute;
      top: 20px;
      right: 110px;
      margin-top: 10px; } }
.button-like__empty {
  font-size: 28px; }

.explore-button {
  text-decoration: none;
  width: 55%;
  padding: 15px;
  color: white;
  background: linear-gradient(#e571db, #d86cdb, #a65cdc);
  border-radius: 25px;
  text-align: center;
  margin-bottom: 30px; }

.order-button {
  text-decoration: none;
  width: 55%;
  padding: 15px;
  color: white;
  background: linear-gradient(#e571db, #d86cdb, #a65cdc);
  border-radius: 25px;
  text-align: center;
  margin-bottom: 30px; }

.restaurant-card {
  box-shadow: 4px 4px 12px rgba(177, 177, 177, 0.99);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
  color: #000; }
  .restaurant-card .restaurant-card__new_tag {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px 10px;
    background-color: #99e2d0;
    color: #278870;
    font-size: 14px; }
  .restaurant-card .restaurant-card__picture {
    position: relative; }
    .restaurant-card .restaurant-card__picture img {
      height: 160px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0; }
  .restaurant-card .restaurant-card__infos {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .restaurant-card .restaurant-card__infos h3 {
      margin: 0; }
    .restaurant-card .restaurant-card__infos p {
      font-size: 16px;
      font-weight: 300;
      margin: 2px 0; }

.meal-card {
  background-color: white;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 5px;
  margin-bottom: 10px; }
  .meal-card .meal-card__title {
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    margin-bottom: -5px; }
  .meal-card .meal-card__description {
    display: flex;
    justify-content: space-between;
    padding: 0 10px; }
    .meal-card .meal-card__description p {
      font-weight: 300; }

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px; }

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto"; }

header {
  background-color: white;
  margin: 0;
  width: 100%;
  height: 30px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  top: 0; }
  header img {
    width: 50%; }
  header a {
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: grey; }

footer {
  width: 94%;
  padding: 15px 3%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  height: 180px; }
  footer a {
    color: inherit;
    text-decoration: none; }
    footer a i {
      margin-right: 10px; }

.footer-title {
  font-family: "Shrikhand"; }

/*# sourceMappingURL=main.css.map */
