.button-like {
  width: 50px;
  height: 100%;
  top: 17px;
  position: relative;


  i {
    font-size: 28px;
    transition: opacity ease-in 300ms;
    position: absolute;
    top: 10px;
    right: 0;
  }

  &__full {
    opacity: 0;
    display: none;
    background: $purple-linear-gradient;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__empty {
    opacity: 1;
  }

  &:hover &__full {
    display: initial;
    opacity: 1;
  }

  &:hover &__empty {
    opacity: 0;
  }

}

.primary-button {
  @include purple-button;
}

.primary-button:hover {
  @include purple-button-hover;
}
