@mixin background-gradient {
  background: $purple-linear-gradient
}

@mixin box-shadow {
  box-shadow: 4px 4px 12px rgba(177, 177, 177, 0.99)
}

@mixin purple-button {
  text-decoration: none;
  width: 55%;
  padding: 15px;
  color: white;
  @include background-gradient;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 30px;
}

@mixin purple-button-hover {
  background: linear-gradient(175deg, lighten($secondary-color, 5), lighten($primary-color, 5) 95%);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin footer {
  width: 94%;
  padding: 15px 3%;
  background-color: $black-background;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  height: 180px;
}
